@import "../../mixins";
@import "../../variables";
.appointmentGrid {
  display: flex;
  flex-direction: column;
  // border: 1px solid #c4bdbd;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  &Slots {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  &Text {
    background-color: #dfdbdb;
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 20px;
    font-weight: 600;
    // border: 1px solid #c4bdbd;
    border-radius: 8px 8px 0 0;
  }
}
.slot {
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  text-align: center;
  width: 140px;
  height: 68px;
  background-color: $primary-color;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $primary-color-hover;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background-color: #7b7e7b;
  }
}
