.login {
  margin: 20px auto;
  width: 80%;
}
.login-form {
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
}
.login-logo-container {
  margin: auto;
  width: 60%;
}
.login-logo-container-img {
  width: 100%;
}
@media (min-width: 600px) {
  .login {
    width: 500px;
  }
}
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.ant-row .ant-form-item {
  margin-bottom: 20px;
}
