@import "../../mixins";
@import "../../variables";
.cardsHolder {
  display: flex;
  padding: 20px;
  width: 70%;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 8px;
}
.homeStickyHeader {
  display: flex;
  // position: sticky;
  flex-direction: row;
  width: 90%;
  padding: 18px;
  margin: auto;
  &Left {
    width: 30%;
    min-width: 30%;
  }
  &Right {
    width: 70%;
    min-width: 70%;
  }
}
.carouselContainer {
  width: 60%;
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  @include respond-to(handhelds) {
    width: 90%;
    max-width: 90%;
  }
}

.homeContainer {
  display: flex;
  width: 90%;
  margin: auto;
  &Controls {
    padding: 24px;
    box-shadow: 0 0 1px RGB(0 0 0 / 8%), 0 1px 4px RGB(0 0 0 / 16%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 30%;
    // max-width: 350px;
    &Header {
      margin: 0 0 20px 0;
    }
  }
  &Controls .input {
    padding-left: 0;
    padding-right: 0;
  }
}
.filtersDivider {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='813' height='1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23C4C4C4' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='4 8' d='M.5.5h812'/%3E%3C/svg%3E");
}
.searchInputContainer {
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin-right: 24px;
  &::after {
    position: relative;
    top: -50%;
    left: 8px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.755 18.394l-3.627-3.627a6.7 6.7 0 0 0 1.343-4.032A6.743 6.743 0 0 0 10.735 4 6.743 6.743 0 0 0 4 10.735a6.743 6.743 0 0 0 6.735 6.736 6.7 6.7 0 0 0 4.032-1.343l3.627 3.627a.964.964 0 0 0 1.36-1.361zm-13.83-7.659a4.811 4.811 0 1 1 9.621 0 4.811 4.811 0 0 1-9.622 0z' fill='%2305b905'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.search {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  width: 100%;
  height: 40px;
  &Input {
    display: block;
    position: relative;
    //overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 9px 30px 9px 40px;
    border: 1px solid #e7e7e7;
    background-color: #fafafa;
    border-radius: 8px;
    caret-color: $primary-color;
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    // background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.755 18.394l-3.627-3.627a6.7 6.7 0 0 0 1.343-4.032A6.743 6.743 0 0 0 10.735 4 6.743 6.743 0 0 0 4 10.735a6.743 6.743 0 0 0 6.735 6.736 6.7 6.7 0 0 0 4.032-1.343l3.627 3.627a.964.964 0 0 0 1.36-1.361zm-13.83-7.659a4.811 4.811 0 1 1 9.621 0 4.811 4.811 0 0 1-9.622 0z' fill='%232880DD'/%3E%3C/svg%3E");
    // background-repeat: no-repeat;
    // background-size: 20px 20px;
    // background-position: left center;
    &:focus {
      outline: none;
      border: 1px solid $primary-color;
    }
    &::before {
      border: 2px solid black;
      display: block;
      content: "...";
      position: relative;
      top: 0;
      left: 0;
      z-index: 100;
      // background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.755 18.394l-3.627-3.627a6.7 6.7 0 0 0 1.343-4.032A6.743 6.743 0 0 0 10.735 4 6.743 6.743 0 0 0 4 10.735a6.743 6.743 0 0 0 6.735 6.736 6.7 6.7 0 0 0 4.032-1.343l3.627 3.627a.964.964 0 0 0 1.36-1.361zm-13.83-7.659a4.811 4.811 0 1 1 9.621 0 4.811 4.811 0 0 1-9.622 0z' fill='%232880DD'/%3E%3C/svg%3E");
      // background-position: 50%;
      // background-repeat: no-repeat;
      content: "aaa";
    }
    // &::after {
    //   position: relative;
    //   // top: 50%;
    //   left: 8px;
    //   display: inline-block;
    //   width: 24px;
    //   height: 24px;
    //   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.755 18.394l-3.627-3.627a6.7 6.7 0 0 0 1.343-4.032A6.743 6.743 0 0 0 10.735 4 6.743 6.743 0 0 0 4 10.735a6.743 6.743 0 0 0 6.735 6.736 6.7 6.7 0 0 0 4.032-1.343l3.627 3.627a.964.964 0 0 0 1.36-1.361zm-13.83-7.659a4.811 4.811 0 1 1 9.621 0 4.811 4.811 0 0 1-9.622 0z' fill='%232880DD'/%3E%3C/svg%3E");
    //   background-position: 50%;
    //   background-repeat: no-repeat;
    //   content: "";
    //   -webkit-transform: translateY(-50%);
    //   transform: translateY(-50%);
    // }
  }
  &Button {
    display: block;
    width: 100px;
    height: 100%;
    background-color: $primary-color;
    border: none;
    border-radius: 8px;
    color: #ffff;
    font-size: 1.1rem;
    cursor: pointer;
    &:hover {
      background-color: $primary-color-hover;
    }
  }
}
.pagination {
  padding: 0;
  margin: auto 15px;
  display: flex;
  list-style: none;
  outline: none;
  & > .active > a,
  & > .active > span,
  & > .active > a:hover,
  & > .active > span:hover,
  & > .active > a:focus,
  & > .active > span:focus {
    background-color: #5ed668;
    //border-color: #ccc;
    outline: none;
  }
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #ccc;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #ccc;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > li > a,
.pagination > li > span {
  color: #333;
}

.pagination > li.active > a {
  color: #fff;
  background-color: #31b33c;
  border-color: #31b33c;
}

.pagination > li > a:hover {
  background-color: #5ed668;
  color: white;
}
.pagianateContainer {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
@include respond-to(medium-screens) {
  .homeContainer {
    flex-direction: column;
    width: 100%;
    padding: 25px;
    &Controls {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
    }
    &Controls .input {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
@include respond-to(handhelds) {
  .homeContainer {
    flex-direction: column;
    width: 100%;
    padding: 25px;
    &Controls {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
    }
    &Controls .input {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
@include respond-to(handhelds) {
  .cardsHolder {
    padding: 0;
  }
  .search {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    &Button {
      width: 100%;
    }
    &Input {
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
}
.slick-list,
.slick-track,
.slick-slide {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.slick-list {
  @include respond-to(handhelds) {
    margin: auto;
  }
}
.banner {
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 247px;
  //max-height: 500px;
  min-width: 340px;
  max-width: 700px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  @include respond-to(handhelds) {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  &Img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
    overflow: hidden;
    // height: 100%;
  }
  &Card {
    text-decoration: none;
    width: 100%;
    height: 90%;
    &Text {
      padding: 20px 20px;
      width: 100%;
      text-align: center;
      color: #333;
      background-color: #e0e4e0;
      margin: 0;
      height: 100%;
      min-height: 40px;
    }
  }
  &Dots {
    position: relative;
    bottom: -10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    @media screen and (max-width: 375px) {
      padding: 0 40px;
    }

    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0 5px;
      cursor: pointer;
    }

    li button {
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      border: 0;
      background: 0 0;
      color: transparent;
      cursor: pointer;
      font-size: 0;
      line-height: 0;
      outline: 0;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: $primary-color;
        border-radius: 100px;
        content: "";
        opacity: 0.4;
      }
    }

    .slick-active button::before {
      opacity: 1;
    }
  }
}
.newsHeading {
  text-transform: uppercase;
  text-align: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 55px;

  @media screen and (max-width: 1300px) {
    margin: 20px 30px;
  }

  @media screen and (max-width: 500px) {
    width: 140px;
    margin: 15px;

    &:nth-child(odd) {
      margin-right: 5px;
      margin-left: 5px;
    }

    &:last-child {
      width: 100%;
      margin: 15px;
    }
  }
  &Descr {
    max-width: 170px;
    display: inline-block;
    max-width: 170px;
    font-size: 16px;
    text-align: center;

    @include respond-to(handhelds) {
      max-width: 150px;
    }
  }
  &Img {
    min-width: 145px;
    height: 145px;
    margin-bottom: 10px;
    background-image: url("../../img/way/1_step.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 130px auto;

    &::after {
      position: relative;
      top: 50px;
      left: 190px;
      display: block;
      width: 30px;
      height: 30px;
      background: url("../../img/way/step-arrow.svg") no-repeat;
      background-size: contain;
      content: "";
      opacity: 0.7;
    }

    @media screen and (max-width: 1300px) {
      background-size: 120px auto;

      &::after {
        left: 170px;
      }
    }

    @media screen and (max-width: 500px) {
      background-size: 100px auto;

      &::after {
        top: 60px;
        left: 155px;
      }
    }

    @media screen and (max-width: 375px) {
      min-width: 110px;
      height: 110px;

      &::after {
        top: 40px;
        left: 120px;
      }
    }
  }
}
.stepChooseTime .stepImg {
  background-image: url("../../img/way/2_step.svg");
}
.stepVisit .stepImg {
  background-image: url("../../img/way/3_step.svg");
}
.stepWithoutQueue .stepImg {
  background-image: url("../../img/way/4_step.svg");
}
.stepMedicalCard .stepImg {
  background-image: url("../../img/way/5_step.svg");
  &::after {
    display: none;
  }
}
.stepChooseTime .stepImg,
.stepWithoutQueue .stepImg {
  background-size: 110px 110px;

  @media screen and (max-width: 1300px) {
    background-size: 105px 105px;
  }

  @media screen and (max-width: 500px) {
    background-size: 90px 90px;
  }
}
.steps {
  background: white;
  &Container {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;

    @media screen and (max-width: 1050px) {
      max-width: 740px;
    }

    @include respond-to(handhelds) {
      max-width: 600px;
    }

    @media screen and (max-width: 500px) {
      justify-content: space-around;
    }
  }
}
