.cards-holder {
  display: flex;
  padding: 20px;
}
.search {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  &Input {
    display: block;
    width: 50%;
    max-width: 520px;
    height: 48px;
    font-size: 1.5rem;
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    padding: 6px 10px;
    box-sizing: border-box;
    margin-right: 20px;
    &:focus {
      outline: none;
      background-color: #ccc;
    }
  }
  &Button {
    display: block;
    width: 100px;
    height: 48px;
    background-color: #31b33c;
    border: none;
    color: #ffff;
    font-size: 1.1rem;
    cursor: pointer;
    &:hover {
      background-color: #5ed668;
    }
  }
}
.pagination {
  margin: auto 15px;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #ccc;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #ccc;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5ed668;
  //border-color: #ccc;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #333;
}

.pagination > li.active > a {
  color: #fff;
  background-color: #31b33c;
  border-color: #31b33c;
}

.pagination > li > a:hover {
  background-color: #5ed668;
  color: white;
}
.pagianateContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
