.button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 4px 15px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  vertical-align: middle;
}

// .button:first-of-type {
//   margin-left: 0;
//   padding-left: 0;
// }

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.success {
  background-color: #31b33c;
  border: 1px solid #31b33c;
  color: #fff;
  border-radius: 2px;
  font-weight: bold;
}

.danger {
  color: #944317;
}
