.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-align: left;
}

.inputElement {
  outline: none;
  border-radius: 2px;
  border: 1px solid #d7dae0;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  &:focus {
    border-color: #31b33c;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    background: transparent;
  }
}

.invalid {
  border: 1px solid red;
  background-color: #fda49a;
}
.react-datepicker__day--selected {
  background-color: #31b33c !important;
}
.react-datepicker-wrapper {
  display: block !important;
}
