@import "src/_variables.scss";
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
}
.addButton {
  margin: auto;
  display: block;
  width: 40%;
  min-width: 200px;
  border-radius: 8px;
  background-color: $primary-color;
  border: none;
  height: 48px;
  color: #ffff;
  cursor: pointer;
  &:hover {
    background-color: $primary-color-hover;
  }
  &:focus {
    outline: none;
  }
}
@media screen and (max-width: 768px) {
  .addButton {
    width: 100%;
  }
  .cardContainer {
    padding: 0;
  }
}
