.doctorInfo {
  display: flex;
  width: 100%;
  margin: auto;
  // max-height: 390px;
  background-color: #d9f3d4;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 0 0 8px 8px;
  &Right {
    flex: 1;
    padding: 20px;
  }
  &Left {
    // flex: 1;
    //width: 35%;
    // max-height: 350px;
    &ImageContainer {
      // max-height: 350px;
      box-sizing: border-box;
      border-radius: 8px;
      overflow: hidden;
      // padding: 15px;
      width: 100%;
      max-width: 210px;
      height: 210px;
    }
  }
  &Map {
    flex: 1;
    width: 30%;
  }
}
.doctorImg {
  width: 100%;
  height: 100%;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='813' height='1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23C4C4C4' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='4 8' d='M.5.5h812'/%3E%3C/svg%3E");
}
.icon {
  display: inline-block;
  margin-right: 8px;
}
@media screen and (max-width: 768px) {
  .doctorInfo {
    flex-direction: column;
    &Left {
      width: 100%;
    }
    &Map {
      width: 100%;
      height: 220px;
    }
  }
}
